body {
    // font-family: source-han-sans-traditional, sans-serif;
    font-family: source-han-sans-traditional, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}
.pointer {
    cursor: pointer;
}

::placeholder {
    color: #C0A4A5;
}