body {
    font-family: source-han-sans-traditional, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

::placeholder {
    color: #C0A4A5 !important;
}
.menu-active {
    height: 99px !important;
}