.footer {
    .logo {
        width: 96px;
        height: 31px;
        background: url('../images/DOYOGA.png');
        background-size: cover;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }

    img {
        width: 24px;
        height: 24px;
    }
}