<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header text-primary bg-light py-7 position-relative">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h1><a class="logo d-block" href="index.html">DOYOGA</a></h1>
        <ul class="d-none d-md-flex">
          <li><a class="d-block fw-light px-6" href="course.html">課程介紹</a></li>
          <li><a class="d-block fw-light px-6" href="surroundings.html">瑜珈空間</a></li>
          <li><a class="d-block fw-light px-6" href="curriculum.html">當月課表</a></li>
        </ul>
        <div class="d-none d-md-flex">
          <a href="reservation.html"
            class="btn btn-light text-secondary border border-secondary border-1 rounded-3 px-6 py-3 me-6">立即預約</a>
          <a href="contact.html"
            class="btn btn-light text-secondary border border-secondary border-1 rounded-3 px-6 py-3">聯絡我們</a>
        </div>
        <i class="ham fas fa-align-justify d-md-none fs-1"></i>
        <ul class="ham-menu position-absolute end-0 top-100 w-100 text-center">
          <li class="border-top border-primary"><a class="d-block bg-light fw-light py-1" href="course.html">課程介紹</a>
          </li>
          <li class="border-top border-primary"><a class="d-block bg-light fw-light py-1"
              href="surroundings.html">瑜珈空間</a></li>
          <li class="border-top border-primary"><a class="d-block bg-light fw-light py-1"
              href="curriculum.html">當月課表</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="social d-none d-md-flex flex-column position-fixed end-0 pe-6">
    <a href="https://www.facebook.com/" target="__blank"><img class="rounded-3 bg-secondary mb-3"
        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/week1/facebook.svg"
        alt="fb logo"></a>
    <a href="https://www.instagram.com/" target="__blank"><img class="rounded-3 bg-secondary mb-3"
        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/week1/instagram-alt.svg"
        alt="ig logo"></a>
    <a href="https://line.me/zh-hant/" target="__blank"><img class="rounded-3 bg-secondary"
        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/week1/line.svg"
        alt="line logo"></a>
  </div>

  <%- contents %>
  
  <section class="subscript bg-secondary border-bottom border-white py-9">
    <div class="container">
      <div class="row g-0 justify-content-between">
        <div class="col-12 col-md-7 col-lg-5 fs-3 align-self-center fw-normal text-white mb-3 mb-lg-0">現在訂閱，獲得課程優惠碼！
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="input-group">
            <input type="email" class="form-control fs-4 border-0 rounded-start px-6 py-3" placeholder="輸入您的電子信箱"
              aria-label="Recipient's username" aria-describedby="subscript">
            <button class="btn btn-primary fs-4 text-white rounded-0 rounded-end px-6 py-3" type="button"
              id="subscript">訂閱</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer bg-secondary py-9 text-white">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-3">
          <a class="logo d-block mb-3" href="index.html">DOYOGA</a>
          <ul>
            <li><a class="text-white d-block fw-light mb-3" href="course.html">課程介紹</a></li>
            <li><a class="text-white d-block fw-light mb-3" href="surroundings.html">瑜珈空間</a></li>
            <li><a class="text-white d-block fw-light mb-3 mb-md-0" href="curriculum.html">當月課表</a></li>
          </ul>
        </div>
        <div class="col-6 order-md-3 col-md-3">
          <div class="d-flex justify-content-end">
            <a class="hvr-float" href="https://www.facebook.com/" target="__blank"><img class="me-3 rounded-3"
                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/week1/facebook.svg"
                alt="fb logo"></a>
            <a class="hvr-float" href="https://www.instagram.com/" target="__blank"><img class="me-3"
                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/week3/icon-ig.svg"
                alt="ig logo"></a>
            <a class="hvr-float" href="https://line.me/zh-hant/" target="__blank"><img
                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/week1/line.svg"
                alt="line logo"></a>
          </div>
        </div>
        <div class="col-12 order-md-2 col-md-6 text-start text-md-center align-self-end">© 2021. All Rights Reserved.
        </div>

      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>

</body>

</html>