.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.chooseSwiper {
    .swiper-slide:hover {
        .level {
            border-color: white !important;
        }

        i {
            color: white !important;
        }
    }
}